{% extends "global/Page.html" %}
{% load otree %}

{% block title %}
    Matrix
{% endblock %}

{% block styles %}
    <style>
        th, td {
            padding: 4px 6px 4px 6px;
        }
        table#box1 {
            background-color: #ecf2f9;
        }
        table#box2 {
            background-color: #ecf2f9;
        }
    </style>
{% endblock %}

{% block content %}

    <table style="width:100%">
    <tr>
        <th class="box-heading">Matrix 1</th>
        <th></th>
        <th class="box-heading">Matrix 2</th>
    </tr>
    <tr>
        <td class="table-borders">
            <table class="table-style" style="width:99%" id="box1">
                {% for r in mat1 %}
                    <tr>
                        {% for c in r %}
                            <td>{{ c }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </td>
        <td>
        </td>
        <td class="table-borders">
            <table class="table-style" style="width:99%" id="box2">
                {% for r in mat2 %}
                    <tr>
                        {% for c in r %}
                            <td>{{ c }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </td>
    </tr>
    </table>

    {% formfield player.answer label="Sum" %}

    {{ ca }}

    {% next_button %}

{% endblock %}
